.start-dialog {
  width: 95%;
  margin: 35px auto 0;

  .desc {
    background: $white;
    padding: 5px 15px;
    border: 1px solid $black;

    p {
      font-size: 1.5rem;
    }
  }

  .footer {
    h3 {
      font-size: 2.2rem;
    }
  }
}

@media (min-width: 1000px) {
    .start-dialog {
        width: 60%;
    }
}